@media screen and (min-width:769px){
.hoge{
display:none;
    }
}

@media screen and (max-width:768px){
    .hoge{
        display:none;
    }
}


body{
    font-family:"Avenir Next", " "Hiragino Kaku Gothic ProN W3", sans-serif;"
}

li{
    list-style:none;
}

.header{
    background-color:aquamarine;
    color:darkgreen;
    height:100px ;
}

.header h1{
    padding: 4px 40px;
    float: left;
    }

.header h1 a{
    display: block;
    width: 200px;
    height: 100px;
    font-size: 0;
    background: url(./imgs/0101.png) left top/200px auto no-repeat;
}

.header-list li{
padding:33px 20px;
float: left;
font-size: 30px;
position: relative;
}

.header-list li ul{
    position: absolute;
    top: 45px;
    left: -5px;
    height: 0;
    visibility: hidden;
}

.header-list li li{
    width: 200px;
    padding: 25px 20px  12.5px 20px;
   box-shadow: 0.5px 0.5px #f0f0f0;
   background-color:rgba(255, 255, 255, 0.1);
}

.header-list li a{
    display: block;
}

.header-list li:hover ul li{
  visibility: visible;
}

.main{
    padding: 100px 80px;
}

.copy-container h1{
    font-size: 140px;
    
}

.copy-container h2{
    font-size:60px;
}

.copy-container span{
    color: red;
}

.contents{
    height: 500px;
    margin-top: 100px;
}

.section-title{
    font-size: 28px;
    
}


imgs{
  width: 10px;
  height: 50px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  padding-top: 10px;
}



.contents-item{
  float: center;
    margin-right: 40px;
}



.contents-item p{
   
    font-size: 24px;
}

.flex{
    display: flex;
}

.flex .image{
    width: 200px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.flex .right{
    margin: 0 0 0 20px;
    padding: 0;

}

.flex .title{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 18px;
}

.flex .text{
    margin: 10px 0 0;
    padding: 0;
}


.contact-form{
    padding-top: 100px;
}

input,textarea{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

.contat-submit{
    background-color: #dee7ec;
    color: #889eab;
}

.clip circle{
clip-path:circle(22px at 32px 24px);
}

