.info-pics{
    position: relative;
    text-align: center;

}

.info-pics h1 {
    position: absolute;
    color: white;
    top:65% ;
    left: 43%;
}

.info-pics p{
    position: absolute;
    color: white;
    top:80% ;
    left: 43%;
 
}
.nav{
    text-align: center;
}
.nav h1{
    color: red;
}